#profile-page {
  display: grid;
  grid-template-columns: 1fr 1fr;
  row-gap: 2rem;
  padding-block: 30px;

  // #missions-list {
  //   flex-basis: 50%;
  // }

  // #rockets-list {
  //   flex-basis: 50%;
  // }

  hr {
    margin-block: 30px;
  }

  p {
    margin-left: 15px;
  }
}

@media (max-width: 500px) {
  #profile-page {
    // flex-direction: column;
    grid-template-columns: 100%;
    row-gap: 2rem;
  }
}
