$medium: 900px;

header {
  background-color: white;
  position: fixed;
  inset: 0;
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 2px 2px 8px 0 darkgrey;
  z-index: 10;

  .logo {
    display: flex;
    align-items: center;
    gap: 1.5rem;
  }

  nav {
    display: flex;
    gap: 10px;

    a {
      text-decoration: none;
      color: darkgrey;
    }

    a:hover {
      color: black;
    }

    a:last-child {
      border-left: 1px solid darkgrey;
      padding-left: 10px;
    }

    .active {
      color: black;
    }
  }
}

@media only screen and (max-width: $medium) {
  .logo {
    h1 {
      font-size: 1.5rem;
    }
  }

  header {
    flex-direction: column;
    gap: 10px;
    height: 120px;
    justify-content: center;
  }
}
