.rocket {
  display: flex;
  gap: 20px;
  padding: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  border-radius: 5px;

  img {
    border-radius: 5px;
    width: 250px;
    height: 200px;
    object-fit: cover;
  }

  .rocket-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    h2 {
      font-size: 1.6rem;
    }

    p {
      font-size: 0.9rem;
    }
  }
}

.rocket:hover {
  transform: scale(1.02);
}

@media (max-width: 768px) {
  .rocket {
    flex-direction: column;

    img {
      width: 100%;
    }
  }
}
